:markdown
	#{@usuario.role}  
	**Nome:** #{@usuario.name}  
	**Assunto:** #{@usuario.subject}  
	**E-mail:** #{@usuario.email}  
	**Telefone:** #{ @usuario.telefone.blank? ? "Não-informado" : @usuario.telefone }  

	#{@usuario.message}