= image_tag "#{linha}-intense-repair.png", :class => "secao"

= image_tag "linha.png"

.produto
	= image_tag "essencial-shampoo-soft-cleansing.png", :class => "produto"
	= image_tag "shampoo-soft-cleansing-titulo.png", 	:class => "titulo"
		
	%p Shampoo Soft Cleasing foi elaborado por um complexo brilho, (FRULIX), de extratos: extrato de cacau; extrato de espuma hidratante que lava com suavidade deixando os cabelos perfeitamente limpos e extremamente macios, agradável ao toque e com muito mais brilho. Não contém sal.

	= image_tag "linha.png"

	.col-1
		:markdown
			### Príncipios Ativos
			#### Freulix TF Complexo Brilho, Extrato de cacau, banana e abacaxi:
			Adstringente, hidratante, nutritivo, remineralizante e proporciona brilho intenso e fortalece a fibra capilar.

	= image_tag "linha.png"

	.col-2
		:markdown
			### Príncipios Ativos
			#### Freulix TF Complexo Brilho, Extrato de cacau, banana e abacaxi:
			adstringente, hidratante, nutritivo, remineralizante e proporciona brilho intenso e fortalece a fibra capilar.

	= image_tag "linha.png"

	.col-3
		:markdown
			### Príncipios Ativos
			#### Freulix TF Complexo Brilho, Extrato de cacau, banana e abacaxi:
			adstringente, hidratante, nutritivo, remineralizante e proporciona brilho intenso e fortalece a fibra capilar.

.produto
	= image_tag "essencial-shampoo-soft-cleansing.png", :class => "produto"
	= image_tag "shampoo-soft-cleansing-titulo.png", 	:class => "titulo"
		
	%p Shampoo Soft Cleasing foi elaborado por um complexo brilho, (FRULIX), de extratos: extrato de cacau; extrato de espuma hidratante que lava com suavidade deixando os cabelos perfeitamente limpos e extremamente macios, agradável ao toque e com muito mais brilho. Não contém sal.

	= image_tag "linha.png"

	.col-1
		:markdown
			### Príncipios Ativos
			#### Freulix TF Complexo Brilho, Extrato de cacau, banana e abacaxi:
			Adstringente, hidratante, nutritivo, remineralizante e proporciona brilho intenso e fortalece a fibra capilar.

	= image_tag "linha.png"

	.col-2
		:markdown
			### Príncipios Ativos
			#### Freulix TF Complexo Brilho, Extrato de cacau, banana e abacaxi:
			adstringente, hidratante, nutritivo, remineralizante e proporciona brilho intenso e fortalece a fibra capilar.

	= image_tag "linha.png"

	.col-3
		:markdown
			### Príncipios Ativos
			#### Freulix TF Complexo Brilho, Extrato de cacau, banana e abacaxi:
			adstringente, hidratante, nutritivo, remineralizante e proporciona brilho intenso e fortalece a fibra capilar.