-# @bg =	"slide-1.jpg"
.conteudo
	.safe
		.bloco-esq-texto
			= image_tag "contato-title.png"
			= simple_form_for @contato, :url => "/envio" do |f|
				= f.input :name, :label => "Nome"
				= f.input :telefone, :label => "Telefone"
				= f.input :role, :collection => %w{Consumidor Cabeleireiro Distribuidor}, :label => false, :include_blank => "-- Área de atuação --", :selected => params[:role]
				= f.input :email, :label => "E-mail"
				= f.input :subject, :label => "Assunto"
				= f.input :message, :label => "Mensagem", :input_html => {:rows => 4}
				= f.button :submit, :value => "Enviar"