.controls.safe
	= image_tag "slider-prev.png", :class => "slider-prev"
	= image_tag "slider-next.png", :class => "slider-next"

.inferior
	.safe
		%ol.linhas-de-produtos
			%li.first(data-linha = "essential")
				%h3 #{image_tag "essencial.png"}

			%li.second(data-linha = "express-lavatory-ox")
				%h3 #{image_tag "lavatory.png"}

			%li.third(data-linha = "final-touch")
				%h3 #{image_tag "final-touch.png"}

			%li.last(data-linha = "basis")
				%h3 #{image_tag "basis.png"}