.conteudo.com-painel
	.safe
		%h2 #{image_tag "produtos-title.png"}

		%ul.abas
			- @linhas.each_with_index do |linha, i|
				%li{:tooltip => "#{linha.name}", :class => aba_ativa?(i, linha, params)}
					= image_tag "n#{i+1}.png"

	.painel
		.safe
			- for linha in @linhas do
				.conteudo-aba
					- for sublinha in linha.sublinhas do
						.sublinha
							- unless sublinha.title_image.blank?
								= image_tag sublinha.title_image_url, :class => "subtitle", :height => "40px"
							- for produto in sublinha.produtos do
								.produto{:id => produto.name.parameterize}
									= foto_produto produto.image_url, :size => "90x320", :class => "foto-produto"
									.produto-info
										.secao-superior

											%h3 #{produto.name}

											:markdown
												#{produto.descricao}

										.secao-inferior
											.coluna.primeira
												:markdown
													#### Princípios Ativos
													#{produto.principios_ativos}
													
											.coluna.segunda
												:markdown
													#### Ação
													#{produto.acao}

												%h5 pH
												%p.ph #{produto.ph}

											.coluna.ultima
												:markdown
													#### Modo de Usar
													#{produto.modo_de_usar}