!!!
%html
%head
	%meta(http-equiv="content-type" content="text/html; charset=UTF-8")
	%title Woop!
	%meta{:name => "description", :content => "Somos uma marca do segmento de beleza que chegou para revolucionar o setor de cosméticos, tornando-se preferência entre os mais renomados profissionais."}
	%meta{:name => "keywords", :content => "Escova progressiva, #{Produto.all.collect(&:name).join(", ")}"}
	%meta(name="google-site-verification" content="oXMq_95ThvY6xIKFMbZFHp7BLoFyeaDfi2THTyYALR0")	
	%link(href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700' rel='stylesheet' type='text/css')
	= stylesheet_link_tag "stylesheet", "fancybox"
	= javascript_include_tag "application"
	= csrf_meta_tag

	:erb
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-30461213-1']);
			_gaq.push(['_trackPageview']);
			(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>

%body
	.topo
		%ul.menu.safe
			%li.logo 			#{link_to image_tag("logo.png", 			:size => "240x260"), "/index"}
			%li.lado-esquerdo 	#{link_to image_tag("empresa.png", 			:size => "60x100"), "/empresa",			:class => ("ativo" if current_page? :controller => "pages", :action => "empresa" )}
			%li 				#{link_to image_tag("produtos.png", 		:size => "60x100"), "/produtos",			:class => ("ativo" if current_page? :controller => "pages", :action => "produtos" )}
			%li 				#{link_to image_tag("passo_a_passo.png", 	:size => "60x100"), "/passo_a_passo",	:class => ("ativo" if current_page? :controller => "pages", :action => "passo_a_passo" )}
			%li.lado-direito 	#{link_to image_tag("videos.png", 			:size => "60x100"), "/videos",			:class => ("ativo" if current_page? :controller => "pages", :action => "videos" )}
			%li 				#{link_to image_tag("onde_encontrar.png", 	:size => "60x100"), "/onde_encontrar",	:class => ("ativo" if current_page? :controller => "pages", :action => "onde_encontrar" )}
			%li 				#{link_to image_tag("seja-um-distribuidor.png", 			:size => "60x100"), "seja_um_distribuidor",			:class => ("ativo" if current_page? :controller => "pages", :action => "seja_um_distribuidor" )}
	.safe.slider-wrapper
		.slider{:style => ("height:#{@bg_size}px" unless @bg_size.nil?)}
			- if params[:controller] == "pages" and params[:action] == "index"
				= render "slider"

			- else
				= unless @bg.nil?
					%div{:class => @bg, :style => ("height:#{@bg_size}px" unless @bg_size.nil?)}
			
	= yield
	
	.rodape
		.safe
			= link_to (image_tag "contato.png", :class => "contato"), "/contato"
			= image_tag "contato-info.png", :class => "contato-info"
			= link_to (image_tag "imprensa-button.png"), "/imprensa"

			.midias-sociais
				= image_tag "redes-sociais-caption.png", :class => "redes-sociais-caption"
				.midias-sociais-buttons
					= link_to (image_tag "facebook-icon.png", "data-midia" => "facebook"), "http://facebook.com/woop.cosmeticos"
					= link_to (image_tag "twitter-icon.png", "data-midia" => "twitter"), "http://twitter.com/woopcosmeticos"

	.copyright
		Desenvolvido por #{image_tag "holi-logo-small.png"} Comunicação